body {
    background: rgb(0,0,0,0.02);
}

.weekly-forecast {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.weekly-forecast * {
    text-align: center;
}

$delay: 80ms;
$speed: 800ms;
//
@for $i from 1 through 5 {
    .daily-forecast:nth-child(#{$i}) {
    animation-delay: #{$i * $delay};
}
}
/*.daily-forecast:nth-child(1) { animation-delay: .12s; }*/
/*.daily-forecast:nth-child(2) { animation-delay: .24s; }*/
/*.daily-forecast:nth-child(3) { animation-delay: .36s; }*/
/*.daily-forecast:nth-child(4) { animation-delay: .48s; }*/
/*.daily-forecast:nth-child(5) { animation-delay: .6s; }*/

.daily-forecast {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin: 4px;
    padding: 0 4px 20px 4px;
    background: white;
    animation-name: fadeInDown;
    animation-duration: #{$speed};
    animation-fill-mode: both;
}

.temperature {
    color: lightslategrey;
    font-size: 15px;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}